.bg-pride{
  background: #018b8b;
}

.hidden {
  display: none;
}

.alert-msg{
	color: red;
	font-size: 12px;
}

.cst-border {
  border: 10px;
  border-bottom-color: white;
}

.btn-user{
  background: white;
  color: black;
  width:8rem;
}
